<div class = "header">
    <div class="icon">
        <i class="material-icons">menu</i>
    </div>

    <div class="search">
            <div class="searchInput">
                <input type="text" placeholder="Search anything...">
    
            </div>
    
            <div class="icons">
                <i class="material-icons">notifications</i>
                <i class="material-icons">sentiment_dissatisfied</i>
                <i class="material-icons">view_day</i>
            </div>
            
        </div>
</div>

<div class="likeWhatYouSee">
    <div class = "textInLikeWhatYouSee">
        <p>Like what you see? Check out our premium version for more.</p>
    </div>

    <div class="buttonsInLkeWhatYouSee">
        <button class = "download">DOWNLOAD FREE VERSION </button>
        <button class="purchase">PURCHASE</button>
    </div>
</div>