.timePractice{
    
    width: 20%;
    float: right;
    margin: 4px 43px;
    text-align: center;
    background-color: white;
}
.timePractice h2{
    font-weight: 500 ;
}

.round{
    margin: 4px 67px 57px 67px;
    border:13px solid rgb(100, 1, 75);
    border-radius: 50%;
    padding: 23px;

}

.links{
    background-color: rgb(100, 1, 75);
    padding: 13px;
    display: flex;
    justify-content: space-between;
}
.links i{
    font-size: 33px;
    color: white;
    cursor: pointer;
}