.timePractice{
    
    width: 20%;
    float: right;
    margin: 4px 23px;
    text-align: center;
    background-color: white;
}

.round{
    margin: 4px 67px  47px;
    border:13px solid red;
    border-radius: 50%;
    padding: 23px;

}

.links{
    background-color: red;
    padding: 17px;
    display: flex;
    justify-content: space-between;
}
.links i{
    font-size: 42px;
    color: white;
    cursor: pointer;
}